{
    "name": "{{dosl7_profile_name}}",
    "partition": "{{partition}}",
    "whitelist": "/{{ partition }}/dosl7_white_list_address_list",
    "application": [

        {
            "name": "{{dosl7_profile_name}}",
            "botDefense": {
                "browserLegitCaptcha": "enabled",
                "browserLegitEnabled": "enabled",
                "crossDomainRequests": "allow-all",
                "gracePeriod": 300,
                "mode": "{{ proactive_autometed_attack_prevention }}"
            },
            "botSignatures": {
                "check": "enabled",
                "categories": [
                    {
                        "name": "Crawler",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "DOS Tool",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "E-Mail Collector",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "Exploit Tool",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "HTTP Library",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Headless Browser",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Network Scanner",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "RSS Reader",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Search Bot",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Search Engine",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Service Agent",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Site Monitor",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Social Media Agent",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Spam Bot",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "Spyware",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "Vulnerability Scanner",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "Web Downloader",
                        "partition": "Common",
                        "action": "report"
                    },
                    {
                        "name": "Web Spider",
                        "partition": "Common",
                        "action": "block"
                    },
                    {
                        "name": "Webserver Stress Tool",
                        "partition": "Common",
                        "action": "block"
                    }
                ]
            },
            "captchaResponse": {
                "failure": {
                    "body": "You have entered an invalid answer for the question. Please, try again.\n<br>\n%DOSL7.captcha.image% %DOSL7.captcha.change%\n<br>\n<b>What code is in the image\\?</b>\n%DOSL7.captcha.solution%\n<br>\n%DOSL7.captcha.submit%\n<br>\n<br>\nYour support ID is: %DOSL7.captcha.support_id%.",
                    "type": "default"
                },
                "first": {
                    "body": "This question is for testing whether you are a human visitor and to prevent automated spam submission.\n<br>\n%DOSL7.captcha.image% %DOSL7.captcha.change%\n<br>\n<b>What code is in the image\\?</b>\n%DOSL7.captcha.solution%\n<br>\n%DOSL7.captcha.submit%\n<br>\n<br>\nYour support ID is: %DOSL7.captcha.support_id%.",
                    "type": "default"
                }
            },
            "heavyUrls": {
                "automaticDetection": "enabled",
                "latencyThreshold": 1000,
                "protection": "disabled"
            },
            "mobileDetection": {
                "allowAndroidRootedDevice": "false",
                "allowAnyAndroidPackage": "false",
                "allowAnyIosPackage": "false",
                "allowEmulators": "false",
                "allowJailbrokenDevices": "false",
                "clientSideChallengeMode": "pass",
                "enabled": "disabled"
            },
            "singlePageApplication": "enabled",
            "stressBased": {
                "behavioral": {
                    "dosDetection": "disabled",
                    "mitigationMode": "none",
                    "signatures": "disabled",
                    "signaturesApprovedOnly": "disabled"
                },
                "deEscalationPeriod": 7200,
                "deviceCaptchaChallenge": "disabled",
                "deviceClientSideDefense": "disabled",
                "deviceMaximumAutoTps": 5000,
                "deviceMaximumTps": 200,
                "deviceMinimumAutoTps": 5,
                "deviceMinimumTps": 40,
                "deviceRateLimiting": "disabled",
                "deviceRequestBlockingMode": "rate-limit",
                "deviceTpsIncreaseRate": 500,
                "escalationPeriod": 120,
                "geoCaptchaChallenge": "disabled",
                "geoClientSideDefense": "disabled",
                "geoMaximumAutoTps": 20000,
                "geoMinimumAutoTps": 50,
                "geoMinimumShare": 10,
                "geoRateLimiting": "disabled",
                "geoRequestBlockingMode": "rate-limit",
                "geoShareIncreaseRate": 500,
                "ipCaptchaChallenge": "disabled",
                "ipClientSideDefense": "disabled",
                "ipMaximumAutoTps": 5000,
                "ipMaximumTps": 200,
                "ipMinimumAutoTps": 5,
                "ipMinimumTps": 40,
                "ipRateLimiting": "enabled",
                "ipRequestBlockingMode": "rate-limit",
                "ipTpsIncreaseRate": 500,
                "mode": "off",
                "siteCaptchaChallenge": "disabled",
                "siteClientSideDefense": "disabled",
                "siteMaximumAutoTps": 20000,
                "siteMaximumTps": 10000,
                "siteMinimumAutoTps": 50,
                "siteMinimumTps": 2000,
                "siteRateLimiting": "disabled",
                "siteTpsIncreaseRate": 500,
                "thresholdsMode": "manual",
                "urlCaptchaChallenge": "disabled",
                "urlClientSideDefense": "disabled",
                "urlEnableHeavy": "enabled",
                "urlMaximumAutoTps": 5000,
                "urlMaximumTps": 1000,
                "urlMinimumAutoTps": 50,
                "urlMinimumTps": 200,
                "urlRateLimiting": "enabled",
                "urlTpsIncreaseRate": 500
            },
            "tcpDump": {
                "maximumDuration": 30,
                "maximumSize": 10,
                "recordTraffic": "disabled",
                "repetitionInterval": "120"
            },
            "tpsBased": {
                "deEscalationPeriod": 7200,
                "deviceCaptchaChallenge": "disabled",
                "deviceClientSideDefense": "disabled",
                "deviceMaximumAutoTps": 5000,
                "deviceMaximumTps": 200,
                "deviceMinimumAutoTps": 5,
                "deviceMinimumTps": 40,
                "deviceRateLimiting": "disabled",
                "deviceRequestBlockingMode": "rate-limit",
                "deviceTpsIncreaseRate": 500,
                "escalationPeriod": 120,
                "geoCaptchaChallenge": "disabled",
                "geoClientSideDefense": "disabled",
                "geoMaximumAutoTps": 20000,
                "geoMinimumAutoTps": 50,
                "geoMinimumShare": 10,
                "geoRateLimiting": "disabled",
                "geoRequestBlockingMode": "rate-limit",
                "geoShareIncreaseRate": 500,
                "ipCaptchaChallenge": "disabled",
                "ipClientSideDefense": "disabled",
                "ipMaximumAutoTps": 5000,
                "ipMaximumTps": 200,
                "ipMinimumAutoTps": 5,
                "ipMinimumTps": 40,
                "ipRateLimiting": "enabled",
                "ipRequestBlockingMode": "rate-limit",
                "ipTpsIncreaseRate": 500,
                "mode": "blocking",
                "siteCaptchaChallenge": "disabled",
                "siteClientSideDefense": "disabled",
                "siteMaximumAutoTps": 20000,
                "siteMaximumTps": 10000,
                "siteMinimumAutoTps": 50,
                "siteMinimumTps": 2000,
                "siteRateLimiting": "disabled",
                "siteTpsIncreaseRate": 500,
                "thresholdsMode": "manual",
                "urlCaptchaChallenge": "disabled",
                "urlClientSideDefense": "disabled",
                "urlEnableHeavy": "enabled",
                "urlMaximumAutoTps": 5000,
                "urlMaximumTps": 1000,
                "urlMinimumAutoTps": 50,
                "urlMinimumTps": 200,
                "urlRateLimiting": "enabled",
                "urlTpsIncreaseRate": 500
            },
            "triggerIrule": "disabled"
        }
		]
		}
