{
    "kind": "tm:security:shared-objects:address-list:address-liststate",
    "name": "dosl7_white_list_address_list",
    "addresses": [
        {
            "name": "{{ dosl7_whitelist_ip }}"
        }
    ]
}
