{
   "name":"{{fps_profile_name}}",
   "partition":"{{partition}}",
   "generation":1,
   "alertClientSideCaching":"enabled",
   "alertPath":"/BOMI6s/",
   "alertTokenHeader":"hEstaZGa8Hq",
   "autoTransactions":{
      "botScore":50,
      "clickScore":40,
      "integrityFailScore":50,
      "minMouseMoveCount":5,
      "minMouseOverCount":2,
      "minReportScore":50,
      "minTimeToRequest":2,
      "notHumanScore":25,
      "strongIntegrity":{
         "hideEncryptedParameters":"disabled",
         "parameter":"KQFF7ns9haecNmd"
      },
      "tamperedCookieScore":50,
      "timeFailScore":20
   },
   "blockingPage":{
      "responseBody":"<html><head><title>User Blocked</title></head><body>Your user account has been blocked. Please contact customer support.</body></html>",
      "responseHeaders":"HTTP/1.1 200 OK\nCache-Control: no-cache\nPragma: no-cache\nConnection: close"
   },
   "caseInsensitive":true,
   "configLocation":"/QyYMLy5mpr/",
   "cookies":{
      "baseDomain":{
         "apply":"disabled"
      },
      "clientSide":"iyOsoRwVDw",
      "clientSideLifetime":"43200",
      "componentsState":"Vv4YyD",
      "componentsStateLifetime":"session",
      "componentsStateRemovalProtection":"enabled",
      "encryptionDisabled":"xofaTc",
      "encryptionDisabledLifetime":"session",
      "encryptionDisabledRemovalProtection":"enabled",
      "fingerprint":"w7yGTW7",
      "fingerprintLifetime":"1440",
      "fingerprintRemovalProtection":"enabled",
      "htmlFieldObfuscation":"HrfvPYp",
      "htmlFieldObfuscationLifetime":"1440",
      "malwareForensic":"DDKDQfjU",
      "malwareForensicLifetime":"1440",
      "malwareGuid":"Ar0KJA",
      "malwareGuidLifetime":"1440",
      "malwareGuidRemovalProtection":"enabled",
      "rules":"jijnuNgD",
      "rulesLifetime":"1440",
      "rulesRemovalProtection":"enabled",
      "secureAlert":"8Ycub1",
      "secureAlertLifetime":"session",
      "secureAlertRemovalProtection":"enabled",
      "secureChannel":"k1u2R",
      "secureChannelLifetime":"1440",
      "secureChannelRemovalProtection":"enabled",
      "transactionData":"25UM6EMo4",
      "transactionDataLifetime":"1440",
      "userInspection":"ZzQoi",
      "userName":"ZCi8WV",
      "userNameLifetime":"1440",
      "userNameRemovalProtection":"enabled"
   },
   "debug":{
      "consoleLog":{

      },
      "sendAlert":{

      }
   },
   "defaultsFrom":"/Common/antifraud",
   "encryptionStagingMode":"disabled",
   "fingerprint":{
      "collect":"enabled",
      "location":"/kbw1yr0A484myEqTv.html"
   },
   "forensic":{
      "alertPath":"/a0OWrX/",
      "cloudConfigPath":"/ClBQJTcm8gu3FU/",
      "cloudForensicsMode":0,
      "cloudRemediationMode":1,
      "exeLocation":"/51Ls4oOhSOfpEJ7.exe",
      "selfPostLocation":"/lkIWrG5NkwcNd.html",
      "skipPath":"/wI7jgg3Rnr8ow/"
   },
   "fpsActive":true,
   "injectMainJavascript":{
      "before":true,
      "tag":"/head"
   },
   "javascriptGraceThreshold":3,
   "javascriptLocation":"/2JEfrmESU/",
   "javascriptRemovalLocation":"/QWDkm06yButnYZL.png",
   "malware":{
      "baitCheckGeneric":"enabled",
      "baitLocation":"/PpwzajTuI0tBF9OYw.html",
      "flashCookieLocation":"/DfgpnA8X.swf",
      "flashCookies":"disabled",
      "removedScripts":{

      },
      "sameDomainScriptsValidationHeader":"TW99Zm14qhnE6te5zIAOO",
      "selfBaitHeader":"shyKua59drSxoQ",
      "sourceIntegrityLocation":"/2oShdN/",
      "webRootkit":{

      }
   },
   "mobilesafe":{
      "alertThreshold":24,
      "appIntegrity":{
         "android":{
            "score":100
         },
         "enabled":true,
         "ios":{
            "score":100
         }
      },
      "malware":{
         "behaviourAnalysis":{
            "run":"enabled",
            "score":25
         },
         "checkCustom":"enabled",
         "checkGeneric":"enabled",
         "enabled":true,
         "android":{

         },
         "ios":{

         }
      },
      "mitm":{
         "enabled":true
      },
      "osSecurity":{
         "android":{
            "untrustedAppsScore":20
         },
         "enabled":true,
         "ios":{

         }
      },
      "rootingJailbreak":{
         "enabled":true,
         "jailbreakScore":25,
         "rootingScore":25
      }
   },
   "phishing":{
      "alertPath":"/v2s5pz5/",
      "applicationCss":"disabled",
      "cssAttributeName":"aZBGTNqFp2",
      "cssLocation":"/iA3RQPTzzJvnIeV.css",
      "expirationChecks":"enabled",
      "imageLocation":"/zJCl00kuxeWl.gif",
      "injectCssElement":{
         "before":true,
         "tag":"/body"
      },
      "injectCssLink":{
         "after":true,
         "tag":"head"
      },
      "injectInlineJavascript":{
         "after":true,
         "tag":"body"
      },
      "referrerChecks":"disabled"
   },
   "suggestedUsernameHeader":"HZGsVkcPnwPDw",
   "triggerIrule":"disabled",
   "urls":[
      {
         "name":"login",
         "partition":"user",
         "appLayerEncryption":{
            "addDecoyInputs":"disabled",
            "enabled":true,
            "fakeStrokes":"enabled",
            "fullAjaxEncryption":"disabled",
            "hidePasswordRevealer":"enabled",
            "htmlFieldObfuscation":"enabled",
            "realTimeEncryption":"enabled",
            "removeElementIds":"disabled",
            "removeEventListeners":"enabled",
            "stolenCreds":"enabled"
         },
         "autoTransactions":{
            "botScore":50,
            "browser":"enabled",
            "clickScore":40,
            "enabled":true,
            "fullAjaxIntegrity":"disabled",
            "integrityFailScore":50,
            "minMouseMoveCount":5,
            "minMouseOverCount":2,
            "minReportScore":50,
            "minTimeToRequest":2,
            "nonBrowser":"enabled",
            "notHumanScore":25,
            "strongIntegrity":"enabled",
            "tamperedCookieScore":50,
            "timeFailScore":20
         },
         "includeQueryString":"disabled",
         "injectJavascript":"enabled",
         "injectJavascriptRemoval":{
            "before":true,
            "tag":"/head"
         },
         "injectMainJavascript":{
            "before":true,
            "tag":"/head"
         },
         "loginResponse":{
            "header":"\\\"Location: /account\\\"",
            "statusCode":"302",
            "validation":"enabled"
         },
         "malware":{
            "attachHtmlToAlerts":"enabled",
            "autoLearnFormTags":"enabled",
            "autoLearnInputTags":"enabled",
            "autoLearnScriptTags":"enabled",
            "blockedEnterKeyDetection":"disabled",
            "deferredExecution":"enabled",
            "domainAvailability":"enabled",
            "enableSymbols":"enabled",
            "enabled":true,
            "externalInjection":"enabled",
            "genericMalware":"enabled",
            "manualCountFormTags":0,
            "manualCountInputTags":0,
            "manualCountScriptTags":0,
            "ratDetection":"enabled",
            "removedScriptsDetection":"enabled",
            "sameDomainScriptsValidation":"disabled",
            "selfBait":"enabled",
            "sourceIntegrity":"disabled",
            "vbklipDetection":"disabled",
            "visibilityCheck":"enabled",
            "webRootkitDetection":"enabled"
         },
         "mobilesafeEncryption":"disabled",
         "phishing":{
            "captureUsers":"enabled",
            "copyDetection":"enabled",
            "cssProtection":"enabled",
            "enabled":true,
            "injectCssElement":{
               "after":true,
               "tag":"/head"
            },
            "injectCssLink":{
               "after":true,
               "tag":"head"
            },
            "injectInlineJavascript":{
               "after":true,
               "tag":"body"
            }
         },
         "priority":0,
         "type":"explicit",
         "parameters":[
            {
               "name":"password",
               "attachToVtokenReport":"disabled",
               "checkIntegrity":"disabled",
               "encrypt":"{{ login_password_encryption }}",
               "identifyAsUsername":"disabled",
               "method":"POST",
               "mobilesafeEncrypt":"disabled",
               "mobilesafeEntangle":"disabled",
               "obfuscate":"{{ login_password_encryption }}",
	       "substituteValue":"{{ login_password_encryption }}"
            },
            {
               "name":"username",
               "attachToVtokenReport":"enabled",
               "checkIntegrity":"disabled",
               "encrypt":"disabled",
               "identifyAsUsername":"enabled",
               "method":"POST",
               "mobilesafeEncrypt":"disabled",
               "mobilesafeEntangle":"disabled",
               "obfuscate":"enabled",
               "substituteValue":"disabled"
            }
         ]
      }
   ]
}
